<html>
<style type="text/css">
@font-face {
  font-family: 'Open Sans';
  font-style: large;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.body {
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', 'Helvetica', sans-serif; 
    font-size: 14pt;
}
a:link { color: #B40057; text-decoration: underline}
a:visited { color: #542A95; text-decoration: none}
a:hover { color: #B40057; background-color:#C4FFF9; text-decoration: underline }
</style>

<div class="body">
{% if 'log' in data['title'] %}
    <h1>{{ data['title'] }}</h1>

    {% if data | length > 0%}

        {% for log in data['logs'] %}

            <h3>{{log['log']}}</h3>
            <table border="1">
                <tr>
                    <th>Timestamp</th>
                    <th>Module</th>
                    <th>Message</th>
                </tr>
                {% for temp in log['errors'] %}
                    <tr>
                        <td style="padding: 5px;">{{temp['timestamp']}}</td>
                        <td style="padding: 5px;">{{temp['module']}}</td>
                        <td style="padding: 5px;">{{temp['message']}}</td>                
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}        
    {% else %}
        <p> There was no errors</p>
    {% endif %}
{% else %}


    <h1>{{ data['title'] }}</h1>
    {% if data['logs'] | length > 0%}
            <table border="1">
                <tr>
                    <th>Problem ID</th>
                    <th>Name</th>
                    <th>Host</th>
                    <th>Severity</th>
                    <th>Data</th>
                </tr>
                {% for temp in data['logs'][0]['errors'] %}
                    <tr>
                        <td style="font-weight: bold; padding: 5px;">{{temp['id']}}</td>
                        <td style="padding: 5px;">{{temp['name']}}</td>
                        <td style="padding: 5px;">{{temp['host']}}</td>
                        {% if temp['severity'] == 'Disaster'%}
                            <td style="color: #e45959; padding: 5px;">{{temp['severity']}}</td>
                        {% elif temp['severity'] == 'High'%}
                            <td style="color: #e97659; padding: 5px;">{{temp['severity']}}</td>
                        {% elif temp['severity'] == 'Average'%}
                            <td style="color: #ffa059; padding: 5px;">{{temp['severity']}}</td>
                        {% elif temp['severity'] == 'Warning'%}
                            <td style="color: #ffc859; padding: 5px;">{{temp['severity']}}</td>
                        {% elif temp['severity'] == 'Information'%}
                            <td style="color: #7499ff; padding: 5px;">{{temp['severity']}}</td>
                        {% else %}
                            <td style="color: #e45959; padding: 5px;">{{temp['severity']}}</td>
                        {% endif %}
                        <td style="padding: 5px;">{{temp['data']}}</td>                
                    </tr>
                {%endfor%}
            </table>
    {% else %}
        <p> There was no problems</p>
    {% endif %}
{% endif %}

</div>

<p><br><br>
</html>